body {
    color: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    font-family: 'Baskervville SC', Static;
    margin-bottom: 90px;
}

header {
    border-bottom: solid 5px rgb(185, 5, 5 );
    padding: 20px;
    font-size: 60px;
    color: rgb(185, 6, 6);
}

.chamada {
    background: rgb(185, 5, 5);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;


}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px
}

.categoria {

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(10, 10, 10);
}

.categoria h2 {
    color: rgb(0, 0, 0);
}